<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap CSS desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <!-- 🔐 Barra de usuario -->
    {% if user.is_authenticated %}
    <div class="bg-light py-2 px-3 text-end border-bottom">
        👋 Bienvenido, <strong>{{ user.username }}</strong>
         <a href="{% url 'cambiar_contrasena' %}" class="btn btn-sm btn-outline-secondary ms-2">Cambiar contraseña</a>
        | <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-danger ms-2">Cerrar sesión</a>
    </div>
    {% endif %}

    <!-- Encabezado -->
    <header class="bg-primary text-white p-3 mb-4">
        <div class="container">
            <h1 class="h3">Sistema de Gestión del Plan Estratégico Institucional</h1>
        </div>
    </header>

    <!-- Contenido principal -->
    <div class="container mb-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="text-center py-3 mt-5" style="background-color: #f8f9fa;">
        <p class="mb-0 text-muted">&copy; 2025 Comisión Nacional de Telecomunicaciones - Paraguay</p>
      </footer>    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
